body{
    background-color: #3399cc;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .center2 {
    text-align:center;;
  }

  .model {
    text-align:center;;
    width: 41%;
  }

  .model2 {
    text-align:center;
    width: 44%;
  }

  .pic {
    text-align:center;
    width: 30%;
  }

  .pic1 {
    margin-left: auto;
    margin-right: auto;
    width: 29%;
  }

  p { 
    font-family: input;
    font-style: oblique; 
    font-size: x-larger;  
  }
